<div class="dashboard"> 
    <div class="content" id="usuarios-content">
        <h2>Administración de usuarios</h2>

        <div class="table-container">
            <table id="usuarios-table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Fecha de alta</th>
                        <th scope="col">Estatus</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Javier González Ramírez</td>
                        <td>j.gonzalez_73&#64;gmail.com</td>
                        <td>********</td>
                        <td>16-08-23</td>
                        <td>Activo</td>
                        <td><span class="config-icon">&#9881;</span></td>
                    </tr>
                    <tr>
                        <td>Rodrigo Prieto Urquiza</td>
                        <td>rodpri_786&#64;hotmail.com</td>
                        <td>********</td>
                        <td>15-08-23</td>
                        <td>Inactivo</td>
                        <td><span class="config-icon">&#9881;</span></td>
                    </tr>
                    <tr>
                        <td>Raquel Bautista García</td>
                        <td>sakura87_6&#64;gmail.com</td>
                        <td>********</td>
                        <td>14-08-23</td>
                        <td>Activo</td>
                        <td><span class="config-icon">&#9881;</span></td>
                    </tr>
                    <tr>
                        <td>Gerardo Gutiérrez De la Fuente</td>
                        <td>jerry_gfonts&#64;gmail.com</td>
                        <td>********</td>
                        <td>13-08-23</td>
                        <td>Inactivo</td>
                        <td><span class="config-icon">&#9881;</span></td>
                    </tr>
                    <tr>
                        <td>José Andrés Hernández Ruvalcaba</td>
                        <td>jahr_1969&#64;hotmail.com</td>
                        <td>********</td>
                        <td>12-08-23</td>
                        <td>Activo</td>
                        <td><span class="config-icon">&#9881;</span></td>
                    </tr>
                    <tr>
                        <td>Pedro Monroy Juárez</td>
                        <td>petermon_juarez&#64;gmail.com</td>
                        <td>********</td>
                        <td>11-08-23</td>
                        <td>Inactivo</td>
                        <td><span class="config-icon">&#9881;</span></td>
                    </tr>
                    <tr>
                        <td>Carlos Augusto Rodríguez Cortés</td>
                        <td>car_1988&#64;gmail.com</td>
                        <td>********</td>
                        <td>10-08-23</td>
                        <td>Activo</td>
                        <td><span class="config-icon">&#9881;</span></td>
                    </tr>
                </tbody>
            </table>
        
        </div>

        <div class="table-footer">
            <div class="pagination">
                <button>&lt;</button>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <button>&gt;</button>
            </div>
            <button class="add-user-button" id="addUserButton">Agregar usuario</button>
        </div>
    </div>
</div>